@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  color: #fff;
  background:#042724;

}
main {
  background:#1f867f;
  height: 100vh;
  height: 100dvh;
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  background-color: #f54257;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
